.topnav {
  overflow: hidden;
  background-color: #242020;
}

/* Style the links inside the navigation bar */
.topnav div {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav div.active {
  color: white;
}
